

#title{
    font-family: 'Playfair Display', serif;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: expanded;
    margin:20px;
    
    
}

#nonveg
{
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: expanded;
    margin:20px;

}




p{
    font-size: 23px;
    /* padding: 5px; */
    margin: 10px;
    text-align: justify;
}
.intro{
    float: right;
    width: 75%;
}

.block{
    border: 2px solid black;
    float: left;
    width: 24%;
    padding: 5px;
    margin: 5px;
}



.list li{
    text-decoration: underline;
}

.list li a:hover{
    color: purple;
}

.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: rgb(27, 56, 93);
    color: white;

}
.footersection p{
    color:white;
    text-transform: none;

}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.7;
    font-weight: 400;
    color:white;
    text-transform: capitalize;
    text-align: center;


}

.footersection h3{
    text-transform: uppercase;
    color:white;
    margin-bottom: 24px;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow:0 2px 4px rgba(0,0,0,0.4) ;
}
