*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
p{
    font-size: 0.9rem;
    line-height: 1.7;
    font-weight: 400;
    color: black;
}


.nav-item a{
    color: #ffff;
    font-weight: bold;

}

.navbar-brand a{
    font-weight: bold;
    text-decoration-color: #ffff;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.introduction p{
    margin: auto;
    padding: 40px;
    text-align: center;
    text-transform: none;
}
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background: #ffff;
    border: medium none;
    padding: 40px;
    border-radius: 3px;
    transition: 0.3s;
    
}
.extra-div a{
    text-decoration: none;
    color: black;
}

.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0.3);
}
.feed{
    width: 100%;
    height: 120vh;
    background: url("../images/popular.jpg");
    background-size: cover;
}
.leftbox{
    width: 49%;
    height: 100%;
    float: left;
    padding: 49px;
    box-sizing: border-box;
}
.leftbox .content{
    color: #fff;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    transition: .4s;

}
.leftbox .content:hover{
    background: rgba(160, 141, 141, 0.4);
}
.leftbox .content h1{
    margin: 0;
    padding: 0;
    font-size: 17px;
    text-transform: uppercase;
}
.leftbox .content p{
    color: white;
   
}
.leftbox .content a{
    color: white;
   
}
.happy{
    display: flex;
    justify-content: center;
}
.wrap{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
 .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.4s;
    width: 300px;
    background: #fff;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    float: left;
    margin:10px ;
} 
.card:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.7);

}
.container1{
    padding: 2px 11px;
}

.partnership{
    text-align: center;
}
.boxes{
    margin: 40px;
}
.boxes img{
    margin-right: 30px;
    margin-left: 30px;
}


.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: rgb(27, 56, 93);
    color: white;

}
.footersection p{
    color:white;
    text-transform: none;

}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.7;
    font-weight: 400;
    color:white;
    text-transform: capitalize;
    text-align: center;


}

.footersection h3{
    text-transform: uppercase;
    color:white;
    margin-bottom: 24px;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow:0 2px 4px rgba(0,0,0,0.4) ;
}

.content{
    color: white;
}
